@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Prata&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: "Prata", "Georgia", "serif";
}

h2 {
  padding-bottom: .5em;
  font-size: 2em;
}

body {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  color: #373f51ff;
}

strong {
  border-bottom: 2px solid #bbacc1ff;
}
