</div>

<div class="jumbotron" id="top-header">
  <div class="container">
    <h1 class="display-4" id="header-name">Nicole Regina Wong</h1>
    <p>I'm a <strong>fullstack developer</strong> who's been living in Tokyo since 2015.</p>

  </div>
</div>

<div class="py-5">
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Snapcarte</h2>
    </div>

    <div class="col-12">
      <p>Below are some of the projects I've worked on recently.</p>
    </div>
  </div>

</div>
</div>
